.art {
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 72%;
}

.art__category--container {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  button {
    color: white;
    position: relative;
    font-family: "IBMPlexSans-Light";
    font-size: 2.4rem;
    width: 15rem;
    background: var(--bg);
    background-clip: padding-box;
    border-radius: 2rem;
    border: 1px solid rgb(96, 96, 96);
    margin: 1rem 1.6rem;
    padding: 0.3rem 0;
  }
}

.art__category {
  cursor: pointer;
  

  &:hover {
    background-color: #171717;
  }
}
