.home-container {
  z-index: 1;
}

.home {
  --h1font: "IBMPlexMono-Bold";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--h1font);
  height: 100%;
  margin-top: 18%;
  z-index: 1;
  

  &__circleSVG {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 40%;
    z-index: -1;

    #circlepath {
      transform-origin: center;
    }
  }

  &__titlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 90%;
    // background-image: url("../assets/svg/homecircle.svg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;
  }

  &__title {
    text-align: center;
    font-family: "IBMPlexMono-Bold";
    font-size: 4.8rem;
    margin-top: 3%;
    padding-left: 8px;
    letter-spacing: 3px;

    span {
      font-family: "IBMPlexMono-Thin";
      font-weight: lighter;
    }

  
  }

  &__subtitle {
    text-align: center;
    font-family: "IBMPlexSans-Thin";
    margin: 2rem 0;
    font-size: 3.6rem;
    letter-spacing: 3px;
    font-weight: lighter;

  }

  &__resume {
    text-align: center;
    font-family: "IBMPlexSans";
    font-size: 3rem;
    margin-top: 2rem;
    padding: 1.5rem 5rem;
    padding-left: 4.1rem;
    color: white;
    border: 1px solid #3B3B3B;
    border-radius: 5rem;
    background-color: transparent;
    font-weight: lighter;
    letter-spacing: 1px;
    cursor: pointer;

    a {
      color: white;
      text-decoration: none;
    }

    &::after {
      content: '';
      position: relative;
      display: inline-block;
      top: .2rem;
      left: .8rem;
      width: 27px;
      height: 27px;
      background-image: url("../assets/svg/download.svg");
    }
  }
}