.navbar {
  color: white;
  display: flex;

  &__container {
    width: 100%;
    background-color: var(--bg);
    border-bottom: 1px solid white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3% 0rem 3%;
    position: fixed;
    background-clip: padding-box;
    
  }

  &__title {
    display: flex;
    align-items: last baseline;

    svg {
      height: 60%;
    }

    a {
      position: relative;
      top: -0.2rem;
      text-decoration: none;
      color: white;
      font-family: "IBMPlexMono";
      font-size: 3rem;
      letter-spacing: +2px;
      padding: 0 1rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
    margin-right: -2rem;

    a {
      position: relative;
      top: 0.5rem;
      font-family: "IBMPlexMono";
      font-size: 2rem;
      text-decoration: none;
      color: white;
      padding: 0 2rem;
      background-color: var(--bg);

      &:hover {
        transition: background-color .5s;
       background-color: #1a1a1a;
      }
    }

    a::before {
      content: "";
      position: absolute;
      align-self: center;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      width: calc(100% - 2rem);
      height: 0.5rem;
      background-color: red;

      transform-origin: center;
      transform: scaleX(0);
    }

    
  }



  &__container--block {
    visibility: hidden;
    width: 100%;
    background-color: var(--bg);
    border-bottom: 1px solid white;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3% 0rem 3%;
    position: relative;
    background-clip: padding-box;
    
  }

  &__title {
    display: flex;
    align-items: last baseline;

    svg {
      height: 60%;
    }

    a {
      position: relative;
      top: -0.2rem;
      text-decoration: none;
      color: white;
      font-family: "IBMPlexMono";
      font-size: 3rem;
      letter-spacing: +2px;
      padding: 0 1rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
    margin-right: -2rem;

    a {
      position: relative;
      top: 0.5rem;
      font-family: "IBMPlexMono";
      font-size: 2rem;
      text-decoration: none;
      color: white;
      padding: 0 2rem;
      background-color: var(--bg);

      &:hover {
        transition: background-color .5s;
       background-color: #1a1a1a;
      }
    }

    a::before {
      content: "";
      position: absolute;
      align-self: center;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      width: calc(100% - 2rem);
      height: 0.5rem;
      background-color: red;

      transform-origin: center;
      transform: scaleX(0);
    }

    
  }
}
