.song {
    display: flex;
    width: 30rem;
    height: 30rem;
    background-color: white;
    background-size: cover;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all .3s;

    &:hover {
        border: 1px solid teal;
        transition: all .5s;
    }
    &:hover h3 {
        opacity: 1;
        transition: all .5s;
    }
    
    h3 {
        margin: 0 auto;
        color: white;
        position: relative;
        align-self: end;
        top: 10%;
        font-family: "IBMPlexSans";
        font-size: 2rem;
        font-weight: lighter;
        opacity: 0;
        transition: all .3s;
        justify-self: center;
    }
}