.App {
  --bg: #070707;
  --h1font: "IBMPlexMono-Bold";
  background-color: var(--bg);
  color: #fff;
  font-family: var(--h1font);
  font-size: 3rem;
  height: 100vh;
  width: 100vw;
}

/* @media (prefers-reduced-motion: no-preference) {

} */
